
$body_fontsize: 16px;
$body_lineheight: 1.7;
$placeholdercolortext: #202020;
$white_color: #ffffff;
$default-font: "RobotoRegular", sans-serif;
$accent: #f57500;
$textcolor: #333333;
$dark: #303030;
$deep: #252525;
$size: 70px;
$border-opacity: 0.1;
$body_color_text: #000000;
